../img/slider/czarno_biale/elektryk.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img7 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/elektro_mechanik.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img8 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/mechanik.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
@keyframes slide {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  10% {
    left: -100.6%;
  }
  15% {
    left: -100.6%;
  }
  20% {
    left: -201%;
  }
  25% {
    left: -201%;
  }
  30% {
    left: -301.8%;
  }
  35% {
    left: -301.8%;
  }
  40% {
    left: -402.4%;
  }
  45% {
    left: -402.4%;
  }
  50% {
    left: -503%;
  }
  55% {
    left: -503%;
  }
  60% {
    left: -603.6%;
  }
  65% {
    left: -603.6%;
  }
  70% {
    left: -704.2%;
  }
  75% {
    left: -704.2%;
  }
  80% {
    left: -804.8%;
  }
  85% {
    left: -804.8%;
  }
  90% {
    left: -905.4%;
  }
  95% {
    left: -905.4%;
  }
  100% {
    left: -905.4%;
  }
}
.slider .banner .banner_info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.slider .banner .banner_info h1 {
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: .1vw;
  padding-left: 20vw;
  padding-right: 20vw;
  color: #000;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
/*   background: -webkit-linear-gradient(120deg, #000, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.slider .banner .banner_info h6 {
  text-transform: uppercase;
  padding-left: 20vw;
  color: var(--text_strona);
}
.slider .banner .banner_info p {
  font-size: 1vw;
  padding-left: 20vw;
  color: var(--text_strona);
}
/* banner koniec */
.pas_gorny {
  width: 100%;
  min-height: 100vh;
  top: 0;
  position: absolute;
}
/* pasek logo telefony */
.info_zst {
  min-height: 60px;
  padding: .4vh 2vw .4vh 2vw;
  color: var(--text_strona);
  background: var(--menu_tlo);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info_zst a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.info_zst ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info_zst ul li {
  padding-left: 1vw;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text_strona);
}
/* pasek logo telefony koniec */
/* nawigacja kontrast */
.navbar {
  background: var(--menu_tlo);
  padding: .4vh 2vw .4vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr .3fr .3fr .1fr;
  grid-template-areas:
    "nazwa_zst menus menus menus rozmiar_font kontrast toggler";
}
.navbar .nazwa_zst {
  grid-area: nazwa_zst;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nazwa_zst a {
  text-decoration: none;
  color: var(--text_strona);
  text-transform: uppercase;
  letter-spacing: .4px;
}
.navbar .nazwa_zst a h1 {
  text-align: center;
  color: var(--text_strona);
  line-height: 1.2rem;
  padding-top: 1rem;
  font-weight: 400;
}
.navbar .nazwa_zst a h1 span {
  font-size: 1rem;
  letter-spacing: 0px;
  color: var(--text_strona);
}
.navbar .menus {
  grid-area: menus;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .menus ul {
  list-style: none;
  display: flex;
}
.navbar .menus ul li {
  padding-right: 1vw;
}
.navbar .menus ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text_strona);
  text-transform: uppercase;
}
.navbar .menus ul li a:hover {
  color: var(--text_strona_a);
}
.navbar .rozmiar_font {
  grid-area: rozmiar_font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar .rozmiar_font .text_rozmiar {
  text-transform: uppercase;
}
.navbar .rozmiar_font .ikony_rozmiar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .rozmiar_font .ikony_rozmiar ul li {
  padding: .4vw;
  cursor: pointer;
}
.navbar .rozmiar_font .ikony_rozmiar ul li .fas {
  font-size: 1rem;
}
.navbar .rozmiar_font .ikony_rozmiar ul li:first-child .fas {
  font-size: .8rem;
}
.navbar .rozmiar_font .ikony_rozmiar ul li:last-child .fas {
  font-size: 1.1rem;
}
.navbar .kontrast {
  grid-area: kontrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar .kontrast .text_kontrast {
  text-transform: uppercase;
}
.navbar .kontrast .ikona_kontrast {
  padding: .4vw;
  font-size: 1rem;
  cursor: pointer;
}
.navbar .toggler {
  grid-area: toggler; 
  cursor: pointer;
  display: none;
}
/* nawigacja kontrast koniec */
/* przycisk dalej w dol */
.pas_dolny {
  width: 100%;
  min-height: 100vh;
  top: 96vh;
  position: absolute;
}
.pas_dolny .icon_dol {
  min-height: 60px;
  padding: 0 2vw 0 2vw;
  color: var(--text_strona);
  background: var(--menu_tlo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.pas_dolny .icon_dol a {
  color: var(--text_strona);
  cursor: pointer;
}
/* przycisk dalej w dol */
/* nav bar */

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--background_tlo);
  height: 80px;
  z-index: 10000;
}
nav.black {
    background: #000;
  }
.navbar_sticky {
  padding: .4vh 2vw .4vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr .3fr .3fr .1fr;
  grid-template-areas:
    "nav_logo_sticky menus menus menus rozmiar_font kontrast toggler";
}
.navbar_sticky .nav_logo_sticky {
  grid-area: nav_logo_sticky;
  height: 50px;
  width: auto;
  padding: .4vh 2vw .4vh 2vw; 
}
.navbar_sticky .menus {
  grid-area: menus;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar_sticky .menus ul {
  list-style: none;
  display: flex;
}
.navbar_sticky .menus ul li {
  padding-right: 1vw;
}
.navbar_sticky .menus ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text_strona);
  text-transform: uppercase;
}
.navbar_sticky .rozmiar_font {
  grid-area: rozmiar_font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar_sticky .rozmiar_font .text_rozmiar {
  text-transform: uppercase;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li {
  padding: .4vw;
  cursor: pointer;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li .fas {
  font-size: 1rem;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li:first-child .fas {
  font-size: .8rem;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li:last-child .fas {
  font-size: 1.1rem;
}
.navbar_sticky .kontrast {
  grid-area: kontrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar_sticky .kontrast .text_kontrast {
  text-transform: uppercase;
}
.navbar_sticky .kontrast .ikona_kontrast {
  padding: .4vw;
  font-size: 1rem;
  cursor: pointer;
}
.navbar_sticky .toggler {
  grid-area: toggler; 
  cursor: pointer;
  display: none;
}
/* nav bar koniec */

/* nagĂłwek zst */
.tytul_nag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh 0 4vh 0;
  text-transform: uppercase;
}
.tytul_nag .into {
  letter-spacing: 1px;
}
.tytul_nag h1 {
  letter-spacing: 1px;
  font-size: 3vw;
}
.tytul_nag h2 {
  font-size: 1.6vw;
}
/* koniec nagĹĂłwka zst */

/* karty w liscie  */
.card-list {
  display: flex;
  padding: 10vh 0 10vh 0;
/*   overflow-x: scroll; */
  justify-content: center;
  align-items: center;
}
/* .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: var(--tlo);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%, .25),
              inset -2px -2px 2px rgba(0,0,0, .25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29,#201c29 1px, #17141d 0,#17141d);
} */
.card {
  display:flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--tlo);
  box-shadow: var(--box-shadow);
  transition: .2s;
}
.card:hover {
  transform: translatey(-2rem);
}
.card:hover~.card {
  transform: translatex(90px);
}
.card:not(:first-child) {
  margin-left: -90px;
}
.card-header h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
}
.card-header .fas {
  color: var(--card_icon);
  font-size: 8rem;
  font-weight: 100;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-autor {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}
.autor_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color_cien);
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
  
}
.autor_name_prefix {
  font-family: var(--font_family);
  font-size: 1.4rem;
  font-weight: 700;
}

/* karty w liscie */
/* sekcja video */
.video {
  display: grid;
  grid-gap: 3vw;
  grid-template-areas: 
    'text_video plik_video plik_video'
    'plik_video2 plik_video2 text_video2';
  justify-content: center;
  align-items: center;
  padding: 8vh 0 8vh 0;
}
.video .plik_video {
  grid-area: plik_video;
}
.video .plik_video2 {
  grid-area: plik_video2;
}
.video .plik_video video, .video .plik_video2 video {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
}
.video .text_video {
  grid-area: text_video;
}
.video .text_video2 {
  grid-area: text_video2;
}
.video .text_video h1, .video .text_video2 h1 {
  text-transform: uppercase;
  font-size: 2.8rem;
}
.video .text_video h1, .video .text_video p {
  float: right;
  text-align: right;
}
.video .text_video p, .video .text_video2 p  {
  font-size: 1.1rem;
}
/* sekcja video koniec */
/* artykul poczatek */
.artykul_grid {
  display: grid;
  grid-column-gap: 1vw;
  grid-template-areas: 
    'main_art main_art main_art main_art aside_art aside_art';
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 10vh 0;
}
.main_art {
  grid-area: main_art;
}
.main_art .artykul_card {
  height: 50vh;
  width: 50vw;
  margin: 10vh;
  box-shadow: var(--box-shadow);
  border-radius: 2vw;
}
.main_art .artykul_card .img_artykul {
  position: relative;
  float: left;
  left: 2vw;
  height: 30vh;
  width: 30vw;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translatey(-4vh);
}
.main_art .artykul_card .img_artykul img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}
.main_art .artykul_card .text_artykul {
  margin-left: 34vw;
  margin-right: 1vw;
  padding-top: 1vh;
}
.main_art .artykul_card .text_artykul h1 {
  font-size: 1.4vw;
  text-transform: uppercase;
}
.autor_card {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 0;
}
.autor_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color_cien);
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
  
}
.autor_name_prefix {
  font-family: var(--font_family);
  font-size: 1.4rem;
  font-weight: 700;
}
.main_art .article p {
  font-size: .75vw;
  text-align: justify;
}
.main_art .info_data {
  display: flex;
  align-items: center;
}
.main_art .info_data .data {
  position: relative;
  color: var(--card_icon);
  margin-left: .8vw;
  bottom: 8vh;
  display: flex;
}
.main_art .info_data .data ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.main_art .info_data .data ul li {
  font-size: 2vw;
  font-weight: 400;
  text-transform: uppercase;
}
.main_art .info_data .data ul li span {
  font-size: 4vw;
  font-weight: 700;
}
.main_art .info_data .data ul li:first-child {
  font-size: 8vw;
  font-weight: 700;
}
.main_art .info_data .data h6 {
  font-size: 3vw;
  font-weight: 400;
  text-transform: uppercase;
}
.main_art .info_data .info {
  display: flex;
  align-items: center;
}
.main_art .info_data .info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.main_art .info_data .info ul li {
  font-size: 1vw;
  font-weight: 200;
  padding-left: 1vw;
  text-transform: uppercase;
}
.aside_art {
  grid-area: aside_art;
}
.aside_art .blog_post {
  width: 34vw;
  padding: .05vw;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  border-radius: 1vw;
  height: 24vh;
  margin-bottom: 2.8vh;
}
.aside_art .blog_post .blog_post_img {
  position: relative;
  height: 14vh;
  width: 13vw;
  transform: translatex(-2.5vw);
}
.aside_art .blog_post .blog_post_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  box-shadow: var(--box-shadow);
}
.aside_art .blog_post .blog_post_info {
  height: 24vh;
  width: 20vw;
}
.aside_art .blog_post .blog_post_info .blog_post_date ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.aside_art .blog_post .blog_post_date ul li {
  color: var(--card_icon_art);
  font-size: .5vw;
  font-weight: 600;
  text-transform: uppercase;
}
.aside_art .blog_post .blog_post_info .blog_post_date ul li span {
  font-size: 1vw;
  font-weight: 400;
}
.aside_art .blog_post .blog_post_info .blog_post_date ul li:first-child {
  font-size: 2vw;
  font-weight: 600;
}
.aside_art .blog_post .blog_post_info .blog_post_date .blog_post_autor {
  position: relative;
  transform: translatex(2vw);
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 0;
}
.aside_art .blog_post .blog_post_info.blog_post_date .autor_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.aside_art .blog_post .blog_post_info .blog_post_date .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color_cien);
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.aside_art .blog_post .blog_post_info .blog_post_date .autor_name {
  color: var(--text_strona);
  text-transform: none;
  font-size: .8;
  font-weight: 200;
}
.aside_art .blog_post .blog_post_info .blog_post_tytul {
  font-size: 1vw;
  text-transform: uppercase;
}
.aside_art .blog_post .blog_post_info .blog_post_text {
  font-size: .5vw;
  text-align: justify;
}
/* artykul koniec */
