@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /* 
kolor ciemny niebieski - 10,60,132 0A3C84
kolor ciemny-odcien niebieski - 18,96,206 1260ce
kolor jasny-stary niebieski - 3,169,244 03A9F4
*/--tlo: #C0C0C0;
  --menu_tlo: rgba(0,0,0,.4);
  --background_tlo: rgba(0,0,0,1);
  --gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 60%, rgba(12,12,12,1) 100%);
  --text_shadow: -1px -1px 1px rgba(172,172,171, .1), 1px 1px 1px rgba(236,236,236, .8);
  --box-shadow: -1rem 0 2rem #c3c3c3;
  --text_tlo: #000;
  --text_strona: #FFF;
  --text_strona_a: #a1a1a1;
  --text_strona_h: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(208,208,208,1) 47%, rgba(149,149,149,1) 100%);
  --color_cien: #c3c3c3;
  --color_header: linear-gradient(90deg, rgba(78, 73, 76,1) 0%, rgba(214, 212, 206,1) 47%, rgba(78, 73, 76,1) 100%);
  --color_header_hover: linear-gradient(90deg, rgba(214, 212, 206,1) 0%, rgba(78, 73, 76,1) 47%, rgba(214, 212, 206,1) 100%);
  --color_belka_tlo : linear-gradient(#000000, #1c1c1c, #000000);
  --card_icon: #111;
  --card_icon_art: #333;
  --primary: #0A3C84;
  --success: #00FF08;
  --info: #0098FF;
  --warning: #FFC300;
  --danger: #F80006;
  --light: #f8f9fa;
  --dark: #161616;
  --white: #FFF;
  --black: #000;
  --font_family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-family: var(--font_family);
  font-size: .8rem;
  font-weight: 200;
  background: var(--tlo);
  color: var(--text_strona);
}
h6 {
  font-family: var(--font_family);
  font-size: 1vw;
  font-weight: 300;
}
h5 {
  font-family: var(--font_family);
  font-size: 1.2vw;
  font-weight: 400;
}
h4 {
  font-family: var(--font_family);
  font-size: 1.4vw;
  font-weight: 500;
}
h3 {
  font-family: var(--font_family);
  font-size: 1.6vw;
  font-weight: 600;
}
h2 {
  font-family: var(--font_family);
  font-size: 2vw;
  font-weight: 700;
}
h1 span {
  font-family: var(--font_family);
  font-size: 3vw;
  font-weight: 700;
}
h1 {
  font-family: var(--font_family);
  font-size: 2.4vw;
  font-weight: 700;
}
p {
  font-family: var(--font_family);
  font-size: .8vw;
  font-weight: 200;
}
header {
  text-transform: uppercase;
  padding: 4vh 0 4vh 0; 
}
header p {
  text-transform: none;
}
header .tytul_nag {
  text-align: center;
}
header .tytul_nag h6 {
  font-size: .6vw;
}
header .tytul_nag .into {
  letter-spacing: 1px;
}
/* nagówek zst */
.tytul_nag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tytul_nag h1 {
  letter-spacing: 1px;
}
.tytul_nag h2 {
  font-size: 1.6vw;
}
/* koniec nagłówka zst */
.container-fluid {
  width: 100%;
  margin: 0;
}
.container {
  width: 60%;
  margin: 0 20% 0 20%;
}
.color_header {
  background: var(--color_header);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color_header:hover {
  background: var(--color_header_hover);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.btn {
  background-image: var(--color_header);
  text-transform: uppercase;
  font-size: .8vw;
  font-weight: 700;
  text-decoration: none;
  color: var(--text_tlo);
  padding: .4vh .8vw .4vh .8vw;
  border-radius: .2vw;
  border: .1vw solid var(--tlo);
}
.btn_small {
  background-image: var(--color_header);
  text-transform: uppercase;
  font-size: .55vw;
  font-weight: 700;
  text-decoration: none;
  color: var(--text_tlo);
  padding: .4vh .8vw .4vh .8vw;
  border-radius: .2vw;
  border: .1vw solid var(--tlo);
  float: right;
}
.btn:hover {
  background-image: var(--tlo);
  color: var(--text_shadow);
  border: .1vw solid var(--color_cien);
}
.btn_small:hover {
  background-image: var(--tlo);
  color: var(--text_shadow);
  border: .1vw solid var(--color_cien);
}
/* banner slider */
.slider {
  overflow: hidden;
  height: 100vh;
}
.slider .banner {
  width: 1000vw;
  margin: 0;
  left: 0;
  position: relative;
  animation: 50s slide infinite;
}
.slider .banner .banner_img {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/programista.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(0%); */
}
.slider .banner .banner_img1 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/informatyk2.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(0%); */
}
.slider .banner .banner_img2 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/spawacz.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img3 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/int_dom.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img4 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/mechanik2.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img5 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/cnc.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img6 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/elektryk.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img7 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/elektro_mechanik.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
.slider .banner .banner_img8 {
  height: 100vh;
  width: 100vw;
  float: left;
  background-image: url(../../img/slider/czarno_biale/mechanik.webp);
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: grayscale(100%); */
}
@keyframes slide {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  10% {
    left: -100.6%;
  }
  15% {
    left: -100.6%;
  }
  20% {
    left: -201%;
  }
  25% {
    left: -201%;
  }
  30% {
    left: -301.8%;
  }
  35% {
    left: -301.8%;
  }
  40% {
    left: -402.4%;
  }
  45% {
    left: -402.4%;
  }
  50% {
    left: -503%;
  }
  55% {
    left: -503%;
  }
  60% {
    left: -603.6%;
  }
  65% {
    left: -603.6%;
  }
  70% {
    left: -704.2%;
  }
  75% {
    left: -704.2%;
  }
  80% {
    left: -804.8%;
  }
  85% {
    left: -804.8%;
  }
  90% {
    left: -905.4%;
  }
  95% {
    left: -905.4%;
  }
  100% {
    left: -905.4%;
  }
}
.slider .banner .banner_info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.slider .banner .banner_info h1 {
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: .1vw;
  padding-left: 20vw;
  padding-right: 20vw;
  color: #000;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
/*   background: -webkit-linear-gradient(120deg, #000, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.slider .banner .banner_info h6 {
  text-transform: uppercase;
  padding-left: 20vw;
  color: var(--text_strona);
}
.slider .banner .banner_info p {
  font-size: 1vw;
  padding-left: 20vw;
  color: var(--text_strona);
}
/* banner koniec */
.pas_gorny {
  width: 100%;
  min-height: 100vh;
  top: 0;
  position: absolute;
}
/* pasek logo telefony */
.info_zst {
  min-height: 60px;
  padding: .4vh 2vw .4vh 2vw;
  color: var(--text_strona);
  background: var(--menu_tlo);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info_zst a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.info_zst ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info_zst ul li {
  padding-left: 1vw;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text_strona);
}
/* pasek logo telefony koniec */
/* nawigacja kontrast */
.navbar {
  background: var(--menu_tlo);
  padding: .4vh 2vw .4vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr .3fr .3fr .1fr;
  grid-template-areas:
    "nazwa_zst menus menus menus rozmiar_font kontrast toggler";
}
.navbar .nazwa_zst {
  grid-area: nazwa_zst;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nazwa_zst a {
  text-decoration: none;
  color: var(--text_strona);
  text-transform: uppercase;
  letter-spacing: .4px;
}
.navbar .nazwa_zst a h1 {
  text-align: center;
  color: var(--text_strona);
  line-height: 1.2rem;
  padding-top: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
}
.navbar .nazwa_zst a h1 span {
  font-size: 1rem;
  letter-spacing: 0px;
  color: var(--text_strona);
}
.navbar .menus {
  grid-area: menus;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .menus ul {
  list-style: none;
  display: flex;
}
.navbar .menus ul li {
  padding-right: 1vw;
}
.navbar .menus ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text_strona);
  text-transform: uppercase;
}
.navbar .menus ul li a:hover {
  color: var(--text_strona_a);
}
.navbar .rozmiar_font {
  grid-area: rozmiar_font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar .rozmiar_font .text_rozmiar {
  text-transform: uppercase;
}
.navbar .rozmiar_font .ikony_rozmiar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .rozmiar_font .ikony_rozmiar ul li {
  padding: .4vw;
  cursor: pointer;
}
.navbar .rozmiar_font .ikony_rozmiar ul li .fas {
  font-size: 1rem;
}
.navbar .rozmiar_font .ikony_rozmiar ul li:first-child .fas {
  font-size: .8rem;
}
.navbar .rozmiar_font .ikony_rozmiar ul li:last-child .fas {
  font-size: 1.1rem;
}
.navbar .kontrast {
  grid-area: kontrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar .kontrast .text_kontrast {
  text-transform: uppercase;
}
.navbar .kontrast .ikona_kontrast {
  padding: .4vw;
  font-size: 1rem;
  cursor: pointer;
}
.navbar .toggler {
  grid-area: toggler; 
  cursor: pointer;
  display: none;
}
/* nawigacja kontrast koniec */
/* przycisk dalej w dol */
.pas_dolny {
  width: 100%;
  min-height: 100vh;
  top: 96vh;
  position: absolute;
}
.pas_dolny .icon_dol {
  min-height: 60px;
  padding: 0 2vw 0 2vw;
  color: var(--text_strona);
  background: var(--menu_tlo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.pas_dolny .icon_dol a {
  color: var(--text_strona);
  cursor: pointer;
}
/* przycisk dalej w dol */
/* nav bar */

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--background_tlo);
  height: 80px;
  z-index: 10000;
}
nav.black {
    background: #000;
  }
.navbar_sticky {
  padding: .4vh 2vw .4vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr .3fr .3fr .1fr;
  grid-template-areas:
    "nav_logo_sticky menus menus menus rozmiar_font kontrast toggler";
}
.navbar_sticky .nav_logo_sticky {
  grid-area: nav_logo_sticky;
  height: 50px;
  width: auto;
  padding: .4vh 2vw .4vh 2vw; 
}
.navbar_sticky .menus {
  grid-area: menus;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar_sticky .menus ul {
  list-style: none;
  display: flex;
}
.navbar_sticky .menus ul li {
  padding-right: 1vw;
}
.navbar_sticky .menus ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text_strona);
  text-transform: uppercase;
}
.navbar_sticky .rozmiar_font {
  grid-area: rozmiar_font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar_sticky .rozmiar_font .text_rozmiar {
  text-transform: uppercase;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li {
  padding: .4vw;
  cursor: pointer;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li .fas {
  font-size: 1rem;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li:first-child .fas {
  font-size: .8rem;
}
.navbar_sticky .rozmiar_font .ikony_rozmiar ul li:last-child .fas {
  font-size: 1.1rem;
}
.navbar_sticky .kontrast {
  grid-area: kontrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text_strona);
}
.navbar_sticky .kontrast .text_kontrast {
  text-transform: uppercase;
}
.navbar_sticky .kontrast .ikona_kontrast {
  padding: .4vw;
  font-size: 1rem;
  cursor: pointer;
}
.navbar_sticky .toggler {
  grid-area: toggler; 
  cursor: pointer;
  display: none;
}
/* nav bar koniec */

/* karty w liscie  */
.card-list {
  display: flex;
  padding: 6vh 0 6vh 0;
/*   overflow-x: scroll; */
  justify-content: center;
  align-items: center;
}
/* .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: var(--tlo);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%, .25),
              inset -2px -2px 2px rgba(0,0,0, .25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29,#201c29 1px, #17141d 0,#17141d);
} */
.card {
  display:flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 0;
  border-radius: 12px;
  background: var(--tlo);
  box-shadow: var(--box-shadow);
  transition: .2s;
}
.card:hover {
  transform: translatey(-2rem);
}
.card:hover~.card {
  transform: translatex(90px);
}
.card:not(:first-child) {
  margin-left: -90px;
}
.card-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -100vh 0 20vh 10vw;
  text-transform: uppercase;
  font-size: 1.1vw;
}
.card-header p {
  text-transform: none;
  font-size: .6vw;
  margin: 1.4vh 1.2vw 1.4vh 1.2vw;
}
.card-header .fas {
  color: var(--card_icon);
  font-size: .8vw;
  font-weight: 100;
/*   padding-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-autor {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 1vh 0 0 1vw;
}
.autor_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color_cien);
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
  
}
.autor_name_prefix {
  font-family: var(--font_family);
  font-size: 1.4rem;
  font-weight: 700;
}

/* karty w liscie */
/* sekcja video */
.video {
  display: grid;
  grid-gap: 3vw;
  grid-template-areas: 
    'text_video plik_video plik_video'
    'plik_video2 plik_video2 text_video2';
  justify-content: center;
  align-items: center;
  padding: 8vh 0 8vh 0;
}
.video .plik_video {
  grid-area: plik_video;
}
.video .plik_video2 {
  grid-area: plik_video2;
}
.video .plik_video video, .video .plik_video2 video {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
}
.video .text_video {
  grid-area: text_video;
}
.video .text_video2 {
  grid-area: text_video2;
}
.video .text_video h1, .video .text_video2 h1 {
  text-transform: uppercase;
  font-size: 2.8rem;
}
.video .text_video h1, .video .text_video p {
  float: right;
  text-align: right;
}
.video .text_video p, .video .text_video2 p  {
  font-size: 1.1rem;
}
/* sekcja video koniec */
/* artykul poczatek */
.artykul_grid {
  display: grid;
  grid-column-gap: 1vw;
  grid-template-areas: 
    'main_art main_art main_art main_art aside_art aside_art';
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 10vh 0 10vh 0;
}
.main_art {
  grid-area: main_art;
}
.main_art .artykul_card {
  height: 50vh;
  width: 50vw;
  margin: 10vh;
  box-shadow: var(--box-shadow);
  border-radius: 2vw;
}
.main_art .artykul_card .img_artykul {
  position: relative;
  float: left;
  left: 2vw;
  height: 30vh;
  width: 30vw;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translatey(-4vh);
}
.main_art .artykul_card .img_artykul img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}
.main_art .artykul_card .text_artykul {
  margin-left: 34vw;
  margin-right: 1vw;
}
.main_art .artykul_card .text_artykul header {
  padding: 2vh 0 1vh 0;
}
.main_art .artykul_card .text_artykul header h1 {
  font-size: 1.4vw;
}
.autor_card {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 0 0 0 1vw;
}
.autor_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color_cien);
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
  
}
.autor_name_prefix {
  font-family: var(--font_family);
  font-size: 1.4rem;
  font-weight: 700;
}
.main_art .article p {
  font-size: .75vw;
  text-align: justify;
}
.main_art .article .blog_post_btn {
  padding-top: 1.4vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
}
.main_art .info_data {
  display: flex;
  align-items: center;
}
.main_art .info_data .data {
  position: relative;
  color: var(--card_icon);
  margin-left: .8vw;
  bottom: 22vh;
  display: flex;
}
.main_art .info_data .data ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.main_art .info_data .data ul li {
  font-size: 2vw;
  font-weight: 400;
  text-transform: uppercase;
}
.main_art .info_data .data ul li span {
  font-size: 4vw;
  font-weight: 700;
}
.main_art .info_data .data ul li:first-child {
  font-size: 8vw;
  font-weight: 700;
}
.main_art .info_data .data h6 {
  font-size: 3vw;
  font-weight: 400;
  text-transform: uppercase;
}
.main_art .info_data .info {
  position: relative;
  display: flex;
  align-items: center;
  bottom: 10vh;
}
.main_art .info_data .info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.main_art .info_data .info ul li {
  font-size: 1vw;
  font-weight: 200;
  padding-left: 1vw;
  text-transform: uppercase;
}
.aside_art {
  grid-area: aside_art;
}
.aside_art .blog_post {
  width: 34vw;
  padding: .05vw;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  border-radius: 1vw;
  height: 24vh;
  margin-bottom: 2.8vh;
}
.aside_art .blog_post .blog_post_img {
  position: relative;
  height: 14vh;
  width: 13vw;
  transform: translatex(-2.5vw);
}
.aside_art .blog_post .blog_post_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  box-shadow: var(--box-shadow);
}
.aside_art .blog_post .blog_post_info {
  height: 24vh;
  width: 20vw;
}
.aside_art .blog_post .blog_post_info .blog_post_date ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.aside_art .blog_post .blog_post_date ul li {
  color: var(--card_icon_art);
  font-size: .5vw;
  font-weight: 600;
  text-transform: uppercase;
}
.aside_art .blog_post .blog_post_info .blog_post_date ul li span {
  font-size: 1vw;
  font-weight: 400;
}
.aside_art .blog_post .blog_post_info .blog_post_date ul li:first-child {
  font-size: 2vw;
  font-weight: 600;
}
.aside_art .blog_post .blog_post_info .blog_post_date .blog_post_autor {
  position: relative;
  transform: translatex(2vw);
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 0;
}
.aside_art .blog_post .blog_post_info.blog_post_date .autor_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.aside_art .blog_post .blog_post_info .blog_post_date .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: var(--color_cien);
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.aside_art .blog_post .blog_post_info .blog_post_date .autor_name {
  color: var(--text_strona);
  text-transform: none;
  font-size: .8;
  font-weight: 200;
}
.aside_art .blog_post .blog_post_info header {
  padding: 1vh 0 1vh 0;
}
.aside_art .blog_post .blog_post_info header h1 {
  font-size: 1vw;
}
.aside_art .blog_post .blog_post_info .blog_post_text {
  padding-top: .6vh;
  font-size: .5vw;
  text-align: justify;
}
.aside_art .blog_post .blog_post_info .blog_post_stats {
  padding-top: .9vh;
  display: flex;
  align-items: center;
}
.aside_art .blog_post .blog_post_info .blog_post_stats ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.aside_art .blog_post .blog_post_info .blog_post_stats ul li {
  font-size: .5vw;
  font-weight: 100;
  padding-left: .2vw;
  text-transform: uppercase;
}
.aside_art .blog_post .blog_post_info .blog_post_btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
}
/* artykul koniec */
/* galerie strefa ucznia */
a {
    text-decoration: none;
}
.strefa {
  width: 100%;
  height: 80vh;
  display: flex;
}
.galerie {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, .5fr);
  grid-template-rows: repeat(8, .5fr);
  grid-gap: .4vw;
}
.olipiady_men {
  grid-column: 5 / 9;
  grid-row: 3 / 7;
  background-image: url(/galerie/temat/olipiady_men_c.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.sport {
  grid-column: 8 / 12;
  grid-row: 5 / 8;
  background-image: url(/galerie/temat/sport_c.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.akademie {
  grid-column: 3 / 6;
  grid-row: 1 / 5;
  background-image: url(/galerie/temat/akademie_c.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.wycieczki {
  grid-column: 2 / 6;
  grid-row: 5 / 8;
  background-image: url(/galerie/temat/wycieczki_c.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.esport {
  grid-column: 7 / 12;
  grid-row: 1 / 4;
  background-image: url(/galerie/temat/esport_c.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.olipiady_men a h1, .sport a h1, .esport a h1, .akademie a h1, .wycieczki a h1
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--menu_tlo);
  height: 100%;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 700;
  box-shadow: var(--box-shadow);
}
.olipiady_men a:hover h1, .sport a:hover h1, .esport a:hover h1, .akademie a:hover h1, .wycieczki a:hover h1
{
  font-size: 3vw;
  text-shadow:  var(--text-shadow);
}
.strefa_tlo {
  background: var(--color_belka_tlo);
}
.dokumenty_szkola {
  width: 100%;
  height: 36vh;
  z-index: 333;
}
.dokumenty_szkola ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
}
.dokumenty_szkola ul li {
  list-style: none;
  padding: 8vh 2vw 0 1vh;
  font-size: .8vw;
}
.dokumenty_szkola ul li a {
  text-decoration: none;
  color: var(--text_strona);
}
.dokumenty_szkola ul li:hover, .dokumenty_szkola ul li a:hover {
  color: var(--text_strona_a);
}
.dokumenty_szkola ul li .fas {
  padding: 0 .2vw 0 .6vw;
}
.doc_lista {
  display: none;
}
.dokumenty_szkola ul li:hover .doc_lista {
  display: block;
  transition: 2s;
}
.dokumenty_szkola .doc_lista {
  padding: 1vh 0 0 1vw;
}
.dokumenty_szkola .doc_lista ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: none;
}
.dokumenty_szkola .doc_lista ul li {
  padding: 0 1vw 0 1vh;
  float: left;
  font-size: .6vw;
}
/******************* service_szkola start **********/
.service_szkola {
  padding: 6vh 0 4vh 0;
}
.wspolpraca {
  padding: 4vh 0 4vh 0;
}
.service ul, .wspolpraca ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.service .icon_sevice, .wspolpraca .icon_sevice {
  margin: 1vw;
  text-align: center;
}
.service .icon_sevice img {
  height: 120px;
  width: 100%;
  filter: opacity(80%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.wspolpraca .icon_sevice img {
  height: 55px;
  width: 100%;
  filter: opacity(80%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); 
  }
.service .icon_sevice img:hover, .wspolpraca .icon_sevice img:hover {
  filter: opacity(100%);
}
/******************* service_szkola koniec **********/
/* kontak dane teleadresowe */
.dane_adresowe {
  margin: 4vh 0 4vh 0;
}
.dane_adresowe .dane_adres ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding: 2vh 0 2vh 0;
}
.dane_adresowe .dane_adres ul li {
  list-style: none;
  padding: 0 1vw 0 .8vw;
  font-size: 1vw;
  font-weight: 400;
  color: var(--text_strona_a);
}

/* form */
.form {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.form h6 {
  text-transform: uppercase;
  text-align: center;
}
.form_control {
  width: 100%;
  padding: .2vh .2vw;
}
.form_control .input_grup {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(312px,1fr));
}
.form_control .input_grup .input_size {
  position: relative;
  width: 100%;
  padding: 0 1vw;
  margin: 3vh 0 1vh 0;
  transition: .5s;
}
.form_control .input_grup .input_box {
  position: relative;
  width: 100%;
  height: 40px;
}
.form_control .input_grup .input_box input,
.form_control .input_grup .input_box.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 1vw;
  z-index: 1;
  color: var(--text_tlo);
}
.form_control .input_grup .input_box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 1.2rem;
  padding: 0 1vw;
  display: block;
  transition: .5s;
  pointer-events: none;
}
.form_control .input_grup .input_box input:focus + .text,
.form_control .input_grup .input_box input:valid + .text {
  top: -35px;
  left: -10px;
}
.form_control .input_grup .input_box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--text_strona);
  transition: .5s;
  border-radius: .2vw;
  pointer-events: none;
}
.form_control .input_grup .input_box input:focus ~ .line,
.form_control .input_grup .input_box input:valid ~ .line {
  height: 100%;
}
.form_control .input_grup .input_box.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: .1vh 0;
}
.form_control .input_grup .input_box.textarea textarea {
  height: 100%;
  resize: none;
}
.form_control .input_grup .input_box textarea:focus + .text,
.form_control .input_grup .input_box textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.form_control .input_grup .input_box textarea:focus ~ .line,
.form_control .input_grup .input_box textarea:valid ~ .line {
  height: 100%;
}
/* form */

/* kontak dane teleadresowe koniec */
.blackleo {
  color: #eee;
}
.blackleo .leo {
  font-size: .6vw;
  font-weight: 200;
}
.blackleo .leol {
  font-size: .6vw;
  font-weight: 200;
  text-align: right;
  justify-content: right;
}
.blackleo .leol a {
  text-decoration: none;
  color: #eee;
  letter-spacing: 1px;
}

























/* galerie strefa ucznia koniec   */
/******************* parallax *****************/
.parallax {
  background-image: url("/img/parallax/film.webp");
  min-height: 200%;
}

.parallax1 {
  background-image: url("/img/parallax/aparat.webp");
  min-height: 200px;
}

.parallax2 {
  background-image: url("/img/parallax/pliki_wifi.webp");
  min-height: 100px;
}
.parallax3 {
  background-image: url("../img/carousel/banner.jpg");
  min-height: 95px;
}
.parallax, .parallax1, .parallax2, .parallax3 {
  position: relative;
/*  opacity: 0.2; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 600px) {
    .parallax, .parallax1, .parallax2, .parallax3 {
        background-attachment: scroll;
    }
} 
.breadcrumb {
  background-color: transparent;
}
/******************* parallax koniec **********/




































